Resources/demo
Resources/DetectionResults
build/
lib/
bin/
Python/DSLyon/
Python/PCHome/
.vscode/


*.pyc
__pycache__/
*.pyo
*.pyd
Python/src/__pycache__/cable_manager_dialog.cpython-312.pyc
Python/src/__pycache__/cavity_detection.cpython-312.pyc
